<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="icon-position">
      <div>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
      <h6><b>Pick Your Plan</b></h6>
      <div class="hidden">
        <ion-icon name="search-outline"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
  <hr class="custom-hr">
</ion-header>

<ion-content class="ion-padding">
  <div class="plan-element">
    <h6><b>Try 7 days free.</b><br><span>Cancel Anytime</span></h6>
  </div>
  <div class="pick-plan">
      <div class="monthly">
        <h6><b>Monthly</b><br><span><b>$6.99/month after trial</b></span></h6>
      </div>
      <div class="annual">
        <h6><b>Annual</b><br><span><b>$5.83/month after trial</b><br>($69.99 billed upfront)</span></h6>
      </div>
  </div>
</ion-content>
<ion-footer>SELECT MONTHLY</ion-footer>