<ion-content>
  <div class="img-center">
    <img src="../../assets/images/avatar.png" alt="">
  </div>
  <div class="ion-text-center user-infos">
    <h6>Chief</h6>
    <span>Switch Profile</span>
  </div>
  <div class="ion-padding">
    <div routerLink="/informations">
      <div class="menu_positions">
        <h5>Account</h5>
      </div>
      <div class="chevron-flex">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <div routerLink="/changer-mot-de-passe">
      <div class="menu_positions">
        <h5>Downloads</h5>
      </div>
      <div class="chevron-flex">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <div>
      <div class="menu_positions">
        <h5>Parental Controls</h5>
      </div>
      <div class="chevron-flex">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <div>
      <div class="menu_positions">
        <h5>Legal</h5>
      </div>
      <div class="chevron-flex">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <div>
      <div class="menu_positions">
        <h5>Support</h5>
      </div>
      <div class="chevron-flex">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <div>
      <div class="menu_positions">
        <h5>Manage Privacy Settings</h5>
      </div>
      <div class="chevron-flex">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <div>
      <div class="menu_positions">
        <h5>Settings</h5>
      </div>
      <div class="chevron-flex">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <div class="seperator">
      <hr>
    </div>
    <div>
      <div class="menu_positions">
        <h5>Sign Out</h5>
      </div>
      <div class="chevron-flex">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>