ion-content {
    .logo-width{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        img{
            max-width: 40%;
        }
        margin-bottom: 30vh;
    }
    --background: linear-gradient(to top, #000000cf, #00000000), url('../../assets/images/john-wick-chapter-4-2023-movie-announcement-7338835-en-max.jpg') 0 0/100% 100% no-repeat;

    /*swiper-container {
        width: 100%;
        height: 100%;
    }*/
    
    .color-white{
        text-align: center;
        color: #fff;
    }

    swiper-slide {
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .container-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .fixed-width-button {
            width: 350px;
            margin: 7px;
        }

        .fixed-width-button-without-bg{
            width: 350px;
            margin: 7px;
            --background: none;
            border: 1px solid #fff;
            color: #fff;
        }

        ion-button{
            --background: linear-gradient(to right, rgb(41, 63, 136), rgb(39, 94, 240));
            --padding-top: 16px;
            --padding-bottom: 16px;
            --box-shadow: none !important;
        }
    }
      
}
